{% extends "network/layout.html" %} {% load static %} {% block import %}
<link href="{% static 'network/following.css' %}" rel="stylesheet"> {% endblock %} {% block body %}
<div class="container border rounded" id="following-posts">
    <h3>All Posts</h3>
    <div>
        {% for post in posts %}
        <div class="container border rounded post" style="margin: 10px;">
            <b>{{ post.publisher.username }}</b><br>
            <p class="post-content">{{ post.content }}</p>
            <p style="margin: 0px;">{{ post.likes }}</p>
            <p style="text-align: right; margin: 0px;">{{ post.pub_time }}</p>
        </div>
        {% empty %}
        <h6 style="text-align: center;">No posts</h6>
        {% endfor %}
    </div>
</div>
<div class="container border rounded" id="following-posts">
    <h3>All User</h3>
    <div>
        {% for user in users %}

        <div class="container border rounded" style="padding: 10px; margin: 5px;">
            <a href="{% url 'profile' user.username %}">{{ user.username }}</a>
        </div>
        {% empty %}
        <h6 style="text-align: center;">No users</h6>
        {% endfor %}
    </div>
</div>
{% endblock %}