{% extends "network/layout.html" %} {% load static %} {% block import %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{% static 'network/index.css' %}" rel="stylesheet">
<script src="{% static 'network/index.js' %}"></script>
{% endblock %} {% block body %}
<!-- Need to chanage this afterwards for login/logout -->
{% if user.is_authenticated %}
<div class="container border rounded" id="create-post">
    <h3>Create New Post</h3>
    <form action="{% url 'create_post' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <textarea placeholder="Create a new post" name="content" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>

    </form>
</div>
{% endif %}
<div class="container border rounded" id="all-posts">
    <h3>All Posts</h3>
    <div>
        {% for post in posts %}
        <div class="container border rounded post" style="margin: 10px;">
            <b>{{ post.publisher.username }}</b><br>
            <div class="text-content">
                <p class="post-content" id="{{ post.pk }}">{{ post.content }}</p>
            </div>
            <p style="margin: 0px;"><span class="number-of-likes">{{ post.likes }}</span> <a href="#" class="like">👍</a> <a href="#">👎</a> </p>
            <p style="text-align: right; margin: 0px;">{{ post.pub_time }}</p>
            {% if user.username == post.publisher.username %}
            <div style="text-align: right;">
                <a href="#" class="edit">
                    <small class="form-text text-muted">edit</small>
                    <i class="material-icons">create</i>
                </a>
            </div>
            {% endif %}
        </div>
        {% empty %}
        <h6 style="text-align: center;">No posts</h6>
        {% endfor %}
    </div>

    <!-- Paginator -->
    {% if posts is not None %}
    <div class="current">
        <p style="text-align: center;">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</p>
    </div>
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'listing' 1 %}">&laquo; first</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'listing' posts.previous_page_number %}">previous</a></li>
                {% endif %} {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'listing' posts.next_page_number %}">next</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'listing' posts.paginator.num_pages %}">last &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
</div>
{% endblock %}